<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntroProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/menu' %>
    
    <%= yield %>
  </body>

  <footer>
    <%= link_to 'About', about_path %>
  </footer>
</html>
